<%- include ('partials/header.ejs') %> 

<div class="ui main container">
    <div class="ui huge header">Blog Site</div>
    <div class="ui three column grid">
        <% blogs.forEach((blog) => { %>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img class="ui big rounded image" src="<%= blog.image %>">
                </div>
                <div class="content">
                    <h2><%= blog.title %></h2>
                    <div class="meta">
                        <span class="date"><%= blog.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <%- blog.body.substring(0, 100) %>...
                    </div>
                </div>
                <div class="extra content">
                    <a href="/blogs/<%= blog._id %>" class="ui blue basic button"><i class="hand point right outline icon"></i>Read more</a>
                </div>
                <div class="ui hidden divider"></div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
